
@font-face {
	font-family: Rodin;
	 src: url("./assets/fonts/SCE-PS3\ Rodin\ LATIN\ Regular.ttf");
}

* {
	box-sizing: border-box;
	font-family: Rodin, Arial, Helvetica, sans-serif;
}
 

body {
	background-color: #cec8b0;
	color: #706c60;
	width: 1100px;
	border: 2px solid #706c60;
	border-top: none;
	margin: 0 auto;
	padding: 40px;
	overflow-x: hidden;
	zoom: 80%;
	height: 1850px;
}

main {
	height: 1000px;
}

figure.avatar {
	height: 300px;
}

a {
	color: #706c60;
}

.contacts ul {
	list-style: circle;
}

.education ul {
	list-style: circle;
	padding-left: 1.4em;
}

header {
	border-bottom: 3px solid #706c60;
	max-height: 730px;
}

.avatar img {
	position: relative;
	border-radius: 50% / 30%;
	padding: 100px;
	border: 1px dashed #706c60;
	transform: scale(0.6);
	filter:sepia(60%);
	bottom: 640px;
}

.hl2 {
	position: relative;
	height: 1px;
	width: 170px;
	border-bottom: 4px solid #a09d92;
	z-index: 7;
}

.hl1 {
	top: 120px;
	left: 30px;
}

.hl2 {
	top: 230px;
	left: 850px;
}

@keyframes contact-animation {
	0% {bottom: 860px;}
	30% {bottom: 1045px;}
	35% {bottom: 860px;}
 }

.github-logo {
	position: relative;
	bottom: 860px;
	left: 865px;
	z-index: 4;
	animation-name: contact-animation;
	animation-duration: 15s;
	animation-iteration-count: infinite;
}


.discord-logo {
	position: relative;
	bottom: 860px;
	left: 576px;
	z-index: 4;
	animation-name: contact-animation;
	animation-duration: 15s;
	animation-delay: 5s;
	animation-iteration-count: infinite;
}

.telegram-logo {
	position: relative;
	bottom: 860px;
	left: 719px;
	z-index: 4;
	animation-name: contact-animation;
	animation-duration: 15s;
	animation-delay: 10s;
	animation-iteration-count: infinite;
}

.hide-container {
	position: relative;
	left: 850px;
	bottom: 668px;
	width: 170px;
	height: 200px;
	background-color: #cec8b0;
	z-index: 5;
}

.avatar {
	text-align: center;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	background-color: darkgrey;
}

body::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 19px rgba(0, 0, 0, 0.5);
}

.star1 {
	position: relative;
	font-size: 4em;
	z-index: 3;
	bottom: 1000px;
	right: 208px;
	color: #8b8778;
	animation-name: leftstar;
	animation-duration: 15s;
	animation-iteration-count: infinite;
}

@keyframes leftstar {
	0% {bottom: 1110px;}
	50% {bottom: 1340px;}
	100% {bottom: 1110px;}
 }

 @keyframes rightstar {
	0% {bottom: 1475px;}
	50% {bottom: 1245px;}
	100% {bottom: 1475px;}
 }

.star2 {
	position: relative;
	font-size: 4em;
	z-index: 3;
	bottom: 1365px;
	left: 208px;
	color: #8b8778;
	animation-name: rightstar;
	animation-duration: 15s;
	animation-iteration-count: infinite;
}

.name {
	position: relative;
	font-size: 2em;
	bottom: 40px;
}

.name p {
	font-size: 0.8em;
}

.profile {
	position: relative;
	top: 160px;
	width: 240px;
	font-size: 1.2em;
	text-align: justify;
}

.contacts {
	position: relative;
	bottom: 840px;
	left: 700px;
	font-size: 1.1em;
	line-height: 1.4em;
}

.contacts h2 {
	position: relative;
	right: 30px;
}

.location {
	position: relative;
	right: 0px;
	bottom: 825px;
	font-size: 1.5em;
	text-align: right;
}

.education {
	position: relative;
	top: 8px;
}

.code-example {
	position: relative;
	width: 400px;
	top: 60px;
	text-align: justify;
}

.code-example code {
	position: relative;
	right: 170px;
	top: 20px;
	line-height: 1.5em;
}

.skills {
	position: relative;
	left: 550px;
	bottom:1090px;
}

.container {
	height: 5px;
	width: 300px;
	background-color: #c5bda0;
	border-radius: 10%;
}

.html {
	width: 40%;
	height: 100%;
	background-color: #a9a292;
}

.css {
	width: 30%;
	height: 100%;
	background-color: #a9a292;
}

.git {
	width: 20%;
	height: 100%;
	background-color: #a9a292;
}

.java {
	width: 10%;
	height: 100%;
	background-color: #a9a292;
}

.python {
	width: 10%;
	height: 100%;
	background-color: #a9a292;
}

.english {
	width: 65%;
	height: 100%;
	background-color: #a9a292;
}

.russian {
	width: 100%;
	height: 100%;
	background-color: #a9a292;
}

.polish {
	width: 35%;
	height: 100%;
	background-color: #a9a292;
}

.projects {
	position: relative;
	left: 550px;
	bottom: 450px;
}

.projects table,thead,tbody {
	border-collapse: collapse;
}

.projects th, td {
	border: .1em solid #706c60;
	padding: 15px;
}

.projects tr:hover {
	background-color: #cac4aa;
}

.vl {
	border-left: 3px solid #706c60;
	position: absolute;
	height: 900px;
  	left: 50%;
  	margin-left: -3px;
	top: 830px;
}

.language {
	position: relative;
	left: 550px;
	bottom: 750px;
}

footer {
	position: relative;
	left: 800px;
	bottom: 720px;
}

.footer-git {
	position: relative;
	display: inline-block;
	right: 20px;
	top: 650px;
}

.footer-rss {
	position: relative;
	display: inline-block;
	top: 20px;
	top: 670px;
}

.footer-year {
	position: relative;
	display: inline-block;
	left: 20px;
	top: 650px;
}

nav a {
	position: relative;
	bottom: 130px;
	left: 45%;
	text-decoration: none;
	color: #7d7b6c;
}
