@font-face {
	font-family: Rodin;
	 src: url("./assets/fonts/SCE-PS3\ Rodin\ LATIN\ Regular.ttf");
}

* {
	box-sizing: border-box;
	font-family: Rodin;
}

body {
	background-color: #cec8b0;
	color: #706c60;
	width: 1100px;
	border: 2px solid #706c60;
	margin: 0 auto;
	padding: 40px;
	overflow-x: hidden;
	zoom: 80%;
}

header {
	border-bottom: 3px solid #706c60;
	max-height: 730px;
;
}

.avatar img {
	position: relative;
	border-radius: 50% / 30%;
	padding: 100px;
	border: 1px dashed #706c60;
	transform: scale(0.6);
	filter:sepia(60%);
	bottom: 520px;
}

.avatar {
	text-align: center;
}

.star1 {
	position: relative;
	font-size: 4em;
	z-index: 5;
	bottom: 1000px;
	right: 208px;
	color: #8b8778;
	animation-name: leftstar;
	animation-duration: 15s;
	animation-iteration-count: infinite;
}

@keyframes leftstar {
	0% {bottom: 1000px;}
	50% {bottom: 1230px;}
	100% {bottom: 1000px;}
 }

 @keyframes rightstar {
	0% {bottom: 1365px;}
	50% {bottom: 1135px;}
	100% {bottom: 1365px;}
 }

.star2 {
	position: relative;
	font-size: 4em;
	z-index: 5;
	bottom: 1365px;
	left: 208px;
	color: #8b8778;
	animation-name: rightstar;
	animation-duration: 15s;
	animation-iteration-count: infinite;
}

.name {
	position: relative;
	font-size: 2em;
	top: 40px;
}

.name p {
	font-size: 0.6em;
}

.profile {
	position: relative;
	top: 255px;
	width: 280px;
	font-size: 1.2em;
}

.contacts {
	position: relative;
	bottom: 1650px;
	left: 720px;
}

.location {
	position: relative;
	left: 864px;
	bottom: 1323px;
	font-size: 1.2em;
}




